fastapi
flask
uvicorn

python-telegram-bot==20.7

langgraph
langchain
langchain-groq
langchain-community


groq

duckduckgo-search


mysql-connector-python
psycopg2-binary


APScheduler==3.10.4

python-dotenv


requests
httpx

pydantic
pydantic[email]


uuid
python-multipart

python-telegram-bot[webhooks]==21.3