fastapi
flask
uvicorn

langgraph
langchain
langchain-groq
langchain-community


groq

duckduckgo-search


mysql-connector-python
psycopg2-binary


APScheduler==3.10.4

python-dotenv


requests
httpx

pydantic
pydantic[email]


uuid
python-multipart

python-telegram-bot[webhooks]
python-telegram-bot==22.8
httpx>=0.28.1
ddgs==9.14.4